.templates-link {
    font-family: "montserrat-medium";
    font-size: 1.3rem;
    a {
        color: #293241;
        text-align: center;
        svg {
            font-size: 2.3rem;
            padding-block-start: 3px;
        }
    }
}
