// Colors
$dropZoneActiveColor: #00a2ff;
$sectionBorderColor: red;
$columnBorderColor: blue;
$innerSectionBorderColor: purple;
$borderEditMode: 1.5px solid rgb(87, 87, 87);;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;