.lead-list {
    .item {
        &:hover {
            background-color: aliceblue;
        }
        .action {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            .mark {
                padding: 0;
                margin-inline-start: -3px;
            }
            .remove {
                cursor: pointer;
            }
        }
    }
}
